# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
build/
develop-eggs/
dist/
downloads/
downloads_*/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/

# Temp files & logs
*.log
*.pid
*.tmp_*
*.part
*.mp3
*.m3u
*.m3u8
history.json

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
